<div class="center">
  <div class="row">
    <% @skills.each do |skill| %>
       <div class="col-md-3">
          <div class="thumbnail">
            <%= link_to image_tag(skill.image.url :medium), skill %>
            <div class="caption">
              <h3><%= skill.title %></h3><br>
              <p><%= skill.level %> | <%= skill.track %></p><br>
              <p><%= skill.tag_list %></p><br>
              <p><%= truncate(skill.description, :length => 80) %></p><br>
              <%= link_to 'More...', skill, class: "btn btn-link" %>
              <% if (user_signed_in?) && (current_user == skill.user) %>
                <%= link_to 'Edit', edit_skill_path(skill), class: "btn btn-link" %>
                <%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>  
            <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
<br>

<% if user_signed_in? %>
<%= link_to 'New Skill', new_skill_path, class: "btn btn-link" %>
<% end %>